.cart {


    table {
        margin-top: 20px;
        padding: 0;
        border-collapse: collapse;
        
        tr {
            padding: 0;

            th {
                padding: 15px;
                font-size: 1.3em;
                color: var(--text-color1)
            }

            td {
                padding: 12px;
                color: var(--text-color2);
                text-align: center;
            }

            .first-row {
                text-align: left;
            }
        }

            .items { 
                font-size: 0.9em;
            }

            .total {
                font-weight: bold;
                border-top: 1px solid var(--border);

                tr {
                    border-bottom: 1px solid var(--border)
                }

                td {
                    color: var(--text-color1);
                    text-align: left;
                }

                .total-title {
                    text-align: right;
                }

                &:last-child {
                    border-bottom: none;
                }
            }

        .grey-col {
            background-color: #ddd;
        }
    }
}