.content {
    margin: 20px 5% 0;
    background-color: white;
    padding: 20px 20px 75px;
    border-radius: 5px 5px 0 0;

    .home-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 25% calc(75% - 20px);
        grid-template-areas: "sidebar main-content";

        .welcome_text {
            font-size: 0.9em;
            margin: 10px 0;
        }

        .title {
            justify-content: space-between;

            .prem_pkg_link {
                cursor: pointer;
                font-size: 0.7em;
                color: var(--notification-bg);
                transform: scale(0.95);
                transition: transform 0.4s ease;

                &:hover {
                    text-decoration: underline;
                    transform: scale(1);
                }
            }
        }
    }

    .sidebar {
        grid-area: sidebar;

        .cat {


            ul {
                padding: 15px;

                li {
                    padding: 5px;
                    cursor: pointer;
                }
            }

            h2 {
                border-bottom: 1px solid var(--border);
            }
        }
    }

    .main-content {
        grid-area: main-content;

        .intro {

            p {
                margin: 20px 0;
                font-size: 0.9rem;
                color: var(--text-color2)
            }
        }
    }
}

.cards {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 15px;

    .card {
        --background: linear-gradient(90deg, rgb(240, 240, 240), rgb(255, 255, 255), rgb(240, 240, 240));
        padding: 10px;
        gap: 10px;
        height: 100%;
        background: var(--background);
        border-color: var(--border);
        background-size: 120% 100%;
        background-position: 100% 0;
        transition: background-position 0.2s ease;

        &.premium_card {
            --background: linear-gradient(90deg, rgb(139, 117, 75), rgb(255, 240, 154), rgb(139, 117, 75));
            --border: rgb(255, 240, 154);

            .card-desc {
                color: black !important;
            }
        }

        .small-card-info{
            width: 100%;
            gap: 5px;

            *:not(:last-child) {
                margin-bottom: 10px;
            }

            .card-title {
                border-bottom: 1px solid var(--text-color1);
                font-weight: bold;
                font-size: 1.1rem;
                color: var(--text-color1);

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }

            .card-desc {
                font-size: 0.8rem;
                color: var(--text-color2);
                flex: 1;
            }

            .card-price {
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .card-img {
            max-width: 30%;
            display: flex;
            align-items: center;

            img {
                object-fit: cover;
            } 
        }

        &:hover {
            background-position: 0 0;
        }
    }
}