.footer {
    margin: 0 5% 50px;
    background-color: #eee;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    

    .navigate {
        padding: 30px 20px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @media (max-width: 820px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 640px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 360px) {
            grid-template-columns: 1fr;
        }

        .footer_nav {
            flex: 1;
        }

        h3 {
            border-bottom: 1px dashed black;
            padding-bottom: 5px;
        }

        li {
            font-size: 0.9rem;
            color: var(--text-color2);
            margin-top: 10px;
        }

        .footer_links {
            flex-wrap: wrap;
            column-gap: 15px;
        }
    }

    .copyright {
        padding: 30px;
        text-align: center;
        background-color: #222;
        color: white;
        font-size: 0.8rem;

        p {
            margin-bottom: 5px;
        }
    }
}