.notification {
    padding: 10px;
    text-align: center;
    background: var(--notification-bg);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    color: var(--text-color1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 8888;

    h2 {
        font-size: 1.3em;
        font-weight: 500;
    }
}

.icon {
    aspect-ratio: 1;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
}