.edit_user {
    padding: 15px;

    .user_info {
        gap: 20px;

        .names {
            gap: 15px;
        }

        .profile_data {
            padding: 15px 20px;
            flex: 1;

            input {
                border: none;
                outline: none;
                width: 100%;
            }
        }

        .profile_field {
            top: 0;
            left: 0;
            font-size: 0.8em;
            color: var(--notification-bg);
            background-color: white;
            padding: 5px;
            transform: translateY(-50%);
            z-index: 1;
            margin-left: 15px;
        }
    }
}