.card-info {
    margin: 20px auto;
    gap: 15px;

    .player-image {
        flex: 2;
        padding: 15px;

        img {
            max-width: 100%;
            max-height: 90vh;
            display: block;
            margin: auto;
            max-height: 70vh;
        }
    }

    .player-info {
        flex: 2;
        border-left: 1px solid var(--border);
        padding: 15px;

        .player-name {
            font-size: 2rem;
            color: var(--text-color1);
            gap: 15px;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .player-card-desc {
            color: var(--text-color2);
            margin: 20px auto;
        }

        .additional-info {
            tr {
                margin-top: 5px;
            }
            
            .link {
                padding-left: 15px;
            }
        }
    }

    .payment {
        flex: 1;
        border-radius: 10px;
        padding: 10px;
        height: fit-content;

        .price {
            font-size: 2em;
            font-weight: 500;
            margin-bottom: 20px;
        }

        p {
            margin: 5px 0;
            color: var(--text-color1)
        }
    }
    
    .loading_names, .loading_desc, .loading_info, .price_loading {
        display: block;
        background-color: var(--border);
        border-radius: 5px;
        animation-name: throb;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    .loading_names {
        height: 50px;
        width: 70%;
    }

    .loading_desc {
        height: 150px;
    }

    .loading_info {
        height: 30px;
        width: 80px;
        margin-top: -10px;
        margin-left: 20px;
    }

    .price_loading {
        height: 40px;
        width: 40%;
    }

    .premium_box {
        --background: linear-gradient(-70deg, rgb(173, 173, 173), rgb(230, 230, 230), rgb(173, 173, 173));

        &.premium_text {
            --background: linear-gradient(-70deg, rgb(139, 117, 75), rgb(255, 240, 154), rgb(139, 117, 75));
        }

        gap: 5px;
        color: var(--text-color1);
        padding: 3px;
        border-radius: 3px;
        background: var(--background);
        width: fit-content;
        font-size: 0.5em;
        font-weight: 600;

        span:not(.prem_icon) {
            font-size: 0.8em;
        }

        .prem_icon {
            font-size: 1.2em;
        }
    }

    @keyframes throb {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
}