.content {
  margin: 20px 5% 0;
  background-color: white;
  padding: 20px 20px 75px;
  border-radius: 5px 5px 0 0;
}

.content .home-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 25% calc(75% - 20px);
      grid-template-columns: 25% calc(75% - 20px);
      grid-template-areas: "sidebar main-content";
}

.content .home-content .welcome_text {
  font-size: 0.9em;
  margin: 10px 0;
}

.content .home-content .title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .home-content .title .prem_pkg_link {
  cursor: pointer;
  font-size: 0.7em;
  color: var(--notification-bg);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.content .home-content .title .prem_pkg_link:hover {
  text-decoration: underline;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.content .sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.content .sidebar .cat ul {
  padding: 15px;
}

.content .sidebar .cat ul li {
  padding: 5px;
  cursor: pointer;
}

.content .sidebar .cat h2 {
  border-bottom: 1px solid var(--border);
}

.content .main-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main-content;
}

.content .main-content .intro p {
  margin: 20px 0;
  font-size: 0.9rem;
  color: var(--text-color2);
}

.cards {
  margin: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 15px;
}

.cards .card {
  padding: 10px;
  gap: 10px;
  height: 100%;
}

.cards .card .small-card-info {
  width: 100%;
}

.cards .card .small-card-info *:not(:last-child) {
  margin-bottom: 10px;
}

.cards .card .small-card-info .card-title {
  border-bottom: 1px solid var(--text-color1);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--text-color1);
}

.cards .card .small-card-info .card-title a {
  color: inherit;
  text-decoration: none;
}

.cards .card .small-card-info .card-desc {
  font-size: 0.8rem;
  color: var(--text-color2);
}

.cards .card .small-card-info .card-price {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px;
}

.cards .card .small-card-info .card-price span {
  color: var(--text-color2);
  font-size: 0.7rem;
  top: -5px;
}

.cards .card .card-img {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card .card-img img {
  width: 100%;
}

.meter_container {
  margin: 15px 0;
  gap: 5px;
  padding: 15px;
}

.meter_container .meter_text {
  top: 0;
  left: 2%;
  background-color: white;
  color: var(--notification-bg);
  padding: 0 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.meter_container .meter {
  border-radius: 3px;
  overflow: hidden;
  background-color: var(--text-color2);
  gap: 2px;
  border: 2px solid var(--text-color2);
  max-width: 500px;
}

.meter_container .meter li {
  padding: 7px 10px;
  color: var(--border);
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--text-color2);
  border-radius: 2px;
}

.meter_container .meter li:last-child, .meter_container .meter li.active {
  border: none;
}

.meter_container .meter li.active {
  background-color: var(--notification-bg);
  color: var(--text-color1);
}

.meter_container .meter li.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), color-stop(transparent), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.2), transparent, rgba(0, 0, 0, 0.3));
}

.meter_container .meter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(transparent), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent, rgba(255, 255, 255, 0.2));
}
/*# sourceMappingURL=content.css.map */